<div>
  <h3>Inline Editing Reactive</h3>
  <form [formGroup]="reactiveFormGroup">
    <div formArrayName="reactiveFormRows">
      <ngx-datatable
        #mydatatable
        class="material"
        [headerHeight]="50"
        [limit]="5"
        [columnMode]="ColumnMode.force"
        [footerHeight]="50"
        rowHeight="auto"
        [rows]="rows">
        <ngx-datatable-column name="Name">
          <ng-template
            ngx-datatable-cell-template
            let-rowIndex="rowIndex"
            let-value="value"
            let-row="row">
            <ng-container [formGroupName]="rowIndex">
              <span
                title="Double click to edit"
                (dblclick)="editing[rowIndex + '-name'] = true"
                *ngIf="!editing[rowIndex + '-name']">
                {{ value }}
              </span>
              <input
                autofocus
                (blur)="updateValue($event, 'name', rowIndex, value)"
                *ngIf="editing[rowIndex + '-name']"
                type="text"
                [value]="value"
                formControlName="name" />
              <span>
                T:
                {{ reactiveRows.controls[rowIndex].get('name').value | json }}
              </span>
            </ng-container>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Gender">
          <ng-template
            ngx-datatable-cell-template
            let-rowIndex="rowIndex"
            let-row="row"
            let-value="value">
            <span
              title="Double click to edit"
              (dblclick)="editing[rowIndex + '-gender'] = true"
              *ngIf="!editing[rowIndex + '-gender']">
              {{ value }}
            </span>
            <select
              *ngIf="editing[rowIndex + '-gender']"
              (blur)="editing[rowIndex + '-gender'] = false"
              (change)="updateValue($event, 'gender', rowIndex, value)"
              [value]="value">
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Age">
          <ng-template
            ngx-datatable-cell-template
            let-value="value"
            let-rowIndex="rowIndex"
            let-row="row">
            <ng-container [formGroupName]="rowIndex">
              <input type="text" formControlName="age" />
              <span
                *ngIf="
                  reactiveRows.controls[rowIndex].get('age')?.errors?.required
                ">
                Error:
                {{
                  reactiveRows.controls[rowIndex].get('age')?.errors?.required
                }}
              </span>
            </ng-container>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Data Nascimento">
          <ng-template
            ngx-datatable-cell-template
            let-value="value"
            let-rowIndex="rowIndex"
            let-row="row">
            <ng-container [formGroupName]="rowIndex">
              <input
                type="date"
                formControlName="dataNascimento"
                (change)="
                  updateValue($event, 'DataNascimento', rowIndex, value)
                " />
              <span
                *ngIf="
                  reactiveRows.controls[rowIndex].get('dataNascimento')?.errors
                    ?.required
                ">
                Error:
                {{
                  reactiveRows.controls[rowIndex].get('dataNascimento')?.errors
                    ?.required
                }}
              </span>
            </ng-container>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
      <!-- {{ this.reactiveFormGroup.get('reactiveFormRows').value | json }} -->
    </div>
  </form>
</div>
